<h1>Cart</h1>
<div>
  <button class="Vaciar">Vaciar Carrito</button>
  {{#each cartProducts}}

    <div id="numero">
      <h5 class="product-name">{{title}}</h5>
      <p class="product-quantity">quantity: {{quantity}}</p>
      <p class="product-price">price: {{price}}</p>
      <p class="product-subtotal">Subtotal: </p>
      <button onclick="addToCart({{code}})" class="boton">+</button>
      <button onclick="deleteFromCart({{code}})" class="boton">-</button>
    </div>
  {{/each}}
  <h1 id="cart-total">Total: </h1>

  <button onclick="submitOrder()" id="checkout-button">Finalizar orden</button>
</div>

<script src="/js/home.js"></script>